.header {
  background-color: #20212b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #7b80a1;
  transition: color 0.2s;
}

.nav-link:hover,
.nav-item button:hover {
  color: #50fa7b;
}

.nav-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7b80a1;
  font-size: 1rem;

}

.nav-button:focus {
  outline: none;
}
